---
import Hero from "../components/Hero.astro";
import Profits from "../components/Profits.astro";
import Layout from "../layouts/Layout.astro";
import Stack from "../components/Stack.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="1nLines">
	<main>
		<Hero />
		<!-- Parte Cesar #1 -->
		<Profits />
		<!-- Parte Cesar #2 -->
		<Stack />
		<Footer />
	</main>
</Layout>