---
import Hero from "../components/Hero.astro";
import Profits from "../components/Profits.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="1nLines">
	<main>
		<Hero />
		<Profits />
	</main>
</Layout>