---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Stack from "../components/Stack.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
import Profits from "../components/Profits.astro";
import Portfolio from "../components/Portfolio.astro";
import Modal from "../components/Modal.astro";
---

<Layout title="1nLines">
	<main>
		<Hero />
		<Portfolio />
		<Profits />
		<Contact />
		<Stack />
		<Footer />
		<Modal id="id-contacto" />
	</main>
</Layout>
