---
interface Props {
  href: string;
  content: string;
  type: "primary" | "secondary";
}

const { href, content, type } = Astro.props;

// Determinar si es un PDF basado en la extensión
const isPDF = href.toLowerCase().endsWith('.pdf');
---

<a
  href={href}
  class={`px-5 py-3 text-center font-[500] transition duration-300 ease-in-out ${
    type === "primary"
      ? "bg-[#8647EA] hover:bg-[#753bd1] text-white"
      : "bg-[#FAFAF7] hover:bg-[#dedede] text-[#8647EA]"
  }`}
  target={isPDF ? "_blank" : href.startsWith('http') ? "_blank" : undefined}
  rel={href.startsWith('http') ? "noopener noreferrer" : undefined}
  download={isPDF ? "Brochure_Inlines.pdf" : undefined}
>
  {content}
</a>