---

---

<footer class="bg-[#2D234B] flex md:justify-start w-full">
  <div
    class="md:max-w-screen-2xl space-y-5 md:space-y-0 mx-auto flex flex-col px-5 md:px-0 md:flex-row justify-center md:justify-between items-center md:items-end w-full py-20"
  >
    <div class="space-y-5 text-center md:text-left">
      <h4 class="text-[#FFF] text-[20px] font-[800]">INLINES COLOMBIA S.A.S</h4>
      <h4 class="text-[#767676] text-[20px] font-[400]">Neiva - Huila</h4>
      <a href="mailto:comercial@inlines.com" class="block">
        <h4 class="text-[#767676] hover:text-[#ccc] text-[20px] font-[400]">
          comercial@inlines.com
        </h4>
      </a>
      <a href="https://api.whatsapp.com/send?phone=573162449249&text=Hola%2C%20me%20gustar%C3%ADa%20obtener%20informaci%C3%B3n%20sobre%20Inlines" class="block">
        <h4 class="text-[#767676] hover:text-[#ccc] text-[20px] font-[400]">
          +57 316 2449249
        </h4>
      </a>
    </div>
    <h4 class="text-[#767676] text-[20px] text-center font-[400]">
      Todos los derechos reservados 2024 ©️
    </h4>
  </div>
</footer>
