---
import { Image } from "astro:assets";
import logo1nLines from "../../public/assets/img/webp/logo_inlines.webp";
import imgHero from "../../public/assets/img/webp/img_hero.webp";
import Button from './Button.astro';

const catalogUri = import.meta.env.PUBLIC_CATALOG_FILE_URI;
const contactUri = import.meta.env.PUBLIC_WHATSAPP_CONTACT_URI;
---

<div
  class="relative flex justify-center bg-gradient-to-t from-[#C188FF] via-white to-white m-0 p-0 overflow-hidden"
>
  <div
    class="absolute md:top-[-300px] md:right-[-320px] top-[-80px] right-[-100px] h-[250px] w-[250px] md:h-[850px] md:w-[850px] bg-[#b8ecfd] opacity-30 rounded-full z-0 transition duration-300 ease-in-out"
  >
  </div>

  <div
    class="flex flex-col justify-start w-full mt-[40px] md:mt-[73px] md:max-w-screen-xl px-5"
  >
    <Image
      src={logo1nLines}
      alt={"Logo 1nLines"}
      class={"w-[136px] h-[36px]"}
    />

    <div
      class="flex flex-col md:flex-row w-full justify-between space-x-0 md:space-x-5 items-center my-10 md:my-20 space-y-10 md:space-y-0"
    >
      <div class="w-full md:w-1/2 flex flex-col space-y-10">
        <h1 class="md:text-[50px] text-[28px] text-[#1E1E1E] font-[800]">
          Construimos soluciones tecnológicas para tu negocio o proyecto
        </h1>
        <h5 class="md:text-[20px] text-[14px] text-[#767676] font-[400]">
          En Inlines nos encanta pensar en las mejores propuestas para tu idea
          creativa o de mejora y apoyarte a hacerlas realidad.
        </h5>
        <div
          class="w-full flex flex-col md:flex-row md:space-x-5 md:space-y-0 space-y-5"
        >
          <Button
            href={contactUri}
            content="CONTACTAR SERVICIO"
            type="primary"
          >
          </Button>
          <Button
            href={catalogUri}
            content="VER CATÁLOGO"
            type="secondary"
          >
          </Button>
        </div>
      </div>
      <div class="w-full md:w-1/2 flex flex-col justify-center items-center">
        <Image src={imgHero} alt={"img"} class={"md:w-[70%] w-[100%] z-10"} />
      </div>
    </div>
  </div>
</div>
