---
//import { Image } from "astro:assets";
//import contact from "../../public/assets/img/webp/contact.webp";
---

<div
  class="mx-auto flex flex-col justify-start w-full mt-[40px] md:my-[73px] md:max-w-screen-xl px-5 space-y-3"
>
  <h4 class="text-[#A9A9A9] md:text-[20px] font-[500]">
    ¿QUÉ SERVICIOS BRINDAMOS?
  </h4>
  <div
    class="bg-white py-5 px-5 md:px-0 flex flex-row max-h-[1200px] h-[450px] md:space-x-5 space-x-0"
  >
    <div class="w-1/3 flex flex-col justify-between">
      <h2
        class="text-[#1E1E1E] md:text-[38px] text-[18px] font-bold leading-tight"
      >
        Con las mejores herramientas y personal ofrecemos:
      </h2>
      <div class="flex-col">
        <p class="text-[#A9A9A9] md:text-[20px] font-[500] mb-7">
          Si lo que estás buscando es otro tipo de servicio, y este está
          relacionado con software, no dudes en contactarnos.
        </p>
        <a
          href="https://api.whatsapp.com/send?phone=573162449249&text=Hola%2C%20me%20gustar%C3%ADa%20obtener%20informaci%C3%B3n%20sobre%20Inlines"
          target="_blank"
          class="md:text-[14px] text-[10px]
             bg-[#C188FF] hover:bg-[#B983F3] shadow-sm text-white px-2 md:px-7 py-2 md:py-4 rounded-md transition duration-300 ease-in-out"
        >
          CONTACTAR SERVICIO
        </a>
      </div>
    </div>
    <div class="w-2/3 flex justify-center items-center">services carousel</div>
  </div>
</div>

<script>
  const $buttonContactate = document.querySelector("#btn-contactate-servicio");

  $buttonContactate?.addEventListener("click", async (e) => {
    alert("Modal de contactar servicio");
  });
</script>
