---
import { Image } from "astro:assets";
import flutterImg from "../../public/assets/img/webp/flutterImg.webp";
import jsFrmImg from "../../public/assets/img/webp/jsFrmImg.webp";
import pythonImg from "../../public/assets/img/webp/pythonImg.webp";
import springBootImg from "../../public/assets/img/webp/springBootImg.webp";
---

<div
  class="mx-auto flex flex-col justify-start w-full mt-[40px] md:my-[73px] md:max-w-screen-xl px-5 space-y-5 md:space-y-10"
>
  <h4 class="text-center text-[#A9A9A9] md:text-[20px] font-[500]">
    ALGO DE NUESTRO STACK
  </h4>
  <div
    class="mx-auto flex flex-col justify-start w-full max-w-screen-xl mt-5 md:my-10 px-2 md:px-5 space-y-5 md:space-y-10"
  >
    <div
      class="flex flex-col md:flex-row justify-between items-center space-y-10 md:space-y-0"
    >
      <div class="max-w-[250px] md:w-[251px]">
        <Image
          src={flutterImg}
          alt="Flutter"
          class="mx-auto max-h-[70px]  h-auto"
        />
      </div>
      <div class="max-w-[150px] md:w-[230px]">
        <Image
          src={springBootImg}
          alt="Spring Boot"
          class="mx-auto max-h-[70px] h-auto"
        />
      </div>
      <div class="max-w-[250px] md:w-[476px]">
        <Image
          src={jsFrmImg}
          alt="JS Frameworks"
          class="mx-auto max-h-[100px] h-auto"
        />
      </div>
      <div class="max-w-[150px] md:w-[210px]">
        <Image
          src={pythonImg}
          alt="Python"
          class="mx-auto max-h-[120px] h-auto"
        />
      </div>
    </div>
  </div>
</div>
